@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400;600&display=swap');


body {
  background-color: rgb(152, 210, 248);  
  font-family: Marker Felt;  
  background-image: url("/images/travel.jpg");
  background-position: 16% center;
  background-size: 110%; 
  margin: 0;
  padding: 0;
  
}


header {
  background-color: rgb(196, 231, 239);         
  color: rgb(7, 62, 91);                    
  text-align: center;              
  padding: 20px;                 
}

header h1 {
  color: #06314d;
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

header p {
  color: #0a4f6e;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
}

section h2 {
  color: #073E5B; 
  font-family: "Playfair Display", serif; 
  font-size: 2rem; 
}

nav ul {
  background-color:#073E5B;  
  margin: 0;                       
  padding: 0;        
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;    /* links spacing */       
}

/* links stylying */
nav ul li a {
  color: rgb(214, 223, 228); 
  font-size: 1.5rem; 
  font-family: "Playfair Display", serif;           
  padding: 15px 30px;             
  display: inline-block;      
}

/* Hover color*/
nav ul li a:hover {
  background-color: #9db7be;
}

main {
  padding: 25px;                  
  text-align: center;
}

section {
  background: rgba(255, 255, 255, 0.4);   
  border: 3px solid rgba(7, 62, 91); 
  border-radius: 12px;
  padding: 30px;
  margin: 100px auto;
  width: 80%;
  backdrop-filter: blur(1px);            
  box-shadow: 0 4px 12px rgba(7, 62, 91);
}

section {
  margin-top:100px;   
  margin-bottom: 80px; 
}


.row {
  display: flex;
  gap: 10px;
}

/* Layout for form elements using CSS Grid */
form {
  display: grid;                  
  grid-template-columns: 1fr;      /* Single column layout */
  gap: 10px;                       /* Vertical spacing between elements */
  max-width: 400px;                
  margin: auto;                    /* Center horizontally */
}

/* Common styling for input boxes, text areas, and buttons */
input, button {
  padding: 10px;                   /* Expand clickable area */
  border-radius: 5px;              /* Rounded corners */
  border: 1px solid #ccc; 
}

textarea {
  padding: 10px;                   /* Expand clickable area */
  border-radius: 5px;              /* Rounded corners */
  border: 1px solid #ccc; 
  resize: vertical;     
  height: 40px;  
  min-height: 40px;
}

/* Submit button */
button {

  font-family:'Trebuchet MS';
  background-color: rgb(7, 62, 91);
  color: white;
  cursor: pointer;                 /* Pointer cursor on hover */
  margin: 10px;
  padding: 15px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

/* Button hover color change */
button:hover {
  background-color: #9db7be;
}


/* Footer styling */
footer {
  background-color: #073E5B;
  color: rgb(214, 223, 228);
  text-align: center;
  padding: 10px;              
  width: 100%;
  font-size: 1.5rem; 
}






/* Responsive Design */

/* Applies only when the screen width is 600px or smaller (e.g., phones) */
@media (max-width: 600px) {
  header h1 {
    font-size: 1.5em;              /* Smaller title for small screens */
  }
}